<section>
  <article class="container">
    <main class="title">
      <h1>Maua Esports</h1>
      <h2>
        Conheça nossos Jogadores do
        <strong>IMT</strong>
      </h2>
      <h2>e venha fazer parte do nosso time</h2>
      <br />
      <br />
      <button id="saiba-mais" routerLink="/about">Saiba Mais</button>
      <button id="inscricao" routerLink="/subscription">Inscrever-se</button>
    </main>
    <main class="dispositivos">
      <img
        src="/assets/images/home-images/title-image.png"
        alt="Imagem do tigre da logo da Maua E-Sports"
      />
    </main>
    <footer class="icon-scroll">
      <span></span>
      <span></span>
    </footer>
  </article>
</section>
