<section>
  <article class="middle">
    <main class="game-icons">
      <img routerLink="/games/league-of-legends" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-icons/lol.png" alt="Ícone League of Legends" style="background-color: #5cb1b4;">
      <img routerLink="/games/teamfight-tactics" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-icons/tft.png" alt="Ícone Teamfight Tactics" style="background-color: #59b7c5;">
      <img routerLink="/games/clash-royale" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-icons/clash.png" alt="Ícone Clash Royale" style="background-color: #4489ff;">
      <img routerLink="/games/rocket-league" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-icons/rocket-league.png" alt="Ícone Rocket League" style="background-color: #004ca3;">
      <img routerLink="/games/overwatch" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-icons/overwatch.png" alt="Ícone Overwatch" style="background-color: #585858;">
      <img routerLink="/games/rainbow-six" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-icons/r6.png" alt="Ícone Rainbow Six" style="background-color: #191919;">
      <img routerLink="/games/valorant" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-icons/valorant.png" alt="Ícone Valorant" style="background-color: #111823;">
      <img routerLink="/games/counter-strike" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-icons/cs.png" alt="Ícone Counter Strike" style="background-color: #e78328;">
      <img routerLink="/games/eracing" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-icons/eracing.png" alt="Ícone eRacing" style="background-color: #f9bc02;">
      <img routerLink="/games/fifa" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-icons/fifa.webp" alt="Ícone FIFA" style="background-color: #e6fb56;">
    </main>
  </article>
</section>