<main class="container">
  <article class="main-content">
    <app-game-title [titulo]="'Rainbow Six'"></app-game-title>
    <div class="content">
      <section class="content-text">
        <h1>Competitivo</h1>
        <div class="spacer"></div>
          <p><b>Tom Clancy's Rainbow Six Siege</b>  é um jogo de tiro na primeira
              pessoa táctico, em que os jogadores assumem o papel
              de um dos membros da equipe <b>Rainbow</b>, uma unidade
              <b>contra-terrorista</b>. Os membros têm diferentes nacionalidades,
              habilidades e equipamentos.</p>
          <section class="flex-content">
            <div class="left-content">
              <img id="direita" src="/assets/images/game-character/char-r6.png" alt="Personagem do jogo League of Legends">
            </div>
            <div class="right-content">
              <h2>Resumo</h2>
              <p>
                Jogador contra jogador tem como base o jogo tático
                em equipe de <b>5 contra 5</b> e é distribuído por vários
                cenários onde as equipes Vermelha e Azul enfrentam-se
                para desarmar bombas, resgatar <b>reféns</b> ou <b>proteger</b>
                locais importantes.
              </p>
            </div>
          </section>
      </section>
    </div>
  </article>
</main>
<main>
  <article class="team-main-content">
    <section class="team-content">
      <h3>Time principal</h3>
      <div class="jogadores">
        <div class="rainbow-six-icon">
          <img src="/assets/images/game-player-icon/r6.png" alt="r6-icon">
          <p>riifth</p>
        </div>
        <div class="rainbow-six-icon">
          <img src="/assets/images/game-player-icon/r62.png" alt="r6-icon">
          <p>rafafami</p>
        </div>
        <div class="rainbow-six-icon">
          <img src="/assets/images/game-player-icon/r63.png" alt="r6-icon">
          <p>guifami</p>
        </div>
        <div class="rainbow-six-icon">
          <img src="/assets/images/game-player-icon/r64.png" alt="r6-icon">
          <p>indie</p>
        </div>
        <div class="rainbow-six-icon">
          <img src="/assets/images/game-player-icon/r65.png" alt="r6-icon">
          <p>positions</p>
        </div>
      </div>
    </section>
  </article>
</main>
<app-footer></app-footer>
