<main>
  <div class="middle">
    <div class="game-icons">
      <img src="/assets/images/lol.png" alt="Ícone League of Legends" style="background-color: #4ce0d9;">
      <img src="/assets/images/tft.png" alt="Ícone Teamfight Tactics" style="background-color: #65ddea;">
      <img src="/assets/images/clash.png" alt="Ícone Clash Royale" style="background-color: #4ce0d9;">
      <img src="/assets/images/rocket-league.png" alt="Ícone Rocket League" style="background-color: #1c4ca3;">
      <img src="/assets/images/overwatch.png" alt="Ícone Overwatch" style="background-color: #969a9c;">
      <img src="/assets/images/r6.png" alt="Ícone Rainbow Six" style="background-color: #e3e3e3;">
      <img src="/assets/images/valorant.png" alt="Ícone Valorant" style="background-color: #f55153;">
      <img src="/assets/images/cs.png" alt="Ícone Counter Strike" style="background-color: #e78329;">
      <img src="/assets/images/eracing.png" alt="Ícone eRacing" style="background-color: #f9bc02;">
      <img src="/assets/images/fifa.webp" alt="Ícone FIFA" style="background-color: #e1fa53;">
    </div>
  </div>
</main>