<main>
  <div class="middle">
    <div class="game-icons">
      <img src="/assets/images/lol.jpeg" alt="Ícone League of Legends">
      <img src="/assets/images/tft.png" alt="Ícone Teamfight Tactics">
      <img src="/assets/images/clash.png" alt="Ícone Clash Royale">
      <img src="/assets/images/rocket-league.png" alt="Ícone Rocket League">
      <img src="/assets/images/overwatch.png" alt="Ícone Overwatch">
      <img src="/assets/images/r6.png" alt="Ícone Rainbow Six">
      <img src="/assets/images/valorant.png" alt="Ícone Valorant">
      <img src="/assets/images/cs.png" alt="Ícone Counter Strike">
      <img src="/assets/images/eracing.png" alt="Ícone eRacing" style="background-color: #f9bc02;">
      <img src="/assets/images/fifa.webp" alt="Ícone FIFA">
    </div>
  </div>
</main>