@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
span{
	color: #343434;
}
p{
    margin-left: 10px;
    margin-top: 40px;
    color: #9f9f9f;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #fff;
    padding: 70px 0;
    transition: 0.5s ease;
	border-top: solid 2px #e2e2e2;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   transition: 0.5s ease;
}
.footer-col h4{
	font-size: 18px;
	color: #222;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #68d1c0;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 5px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #616161;
	text-decoration: none;
	font-weight: 300;
	color: #616161;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #000;
    cursor: pointer;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	border: solid 1px #000;
	color: #000;
	transition: all 0.3s ease;
}
.footer-col .social-links a:hover{
	color: #fff;
	background-color: #222;
	transition: all 0.3s ease;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    transition: 0.5s ease;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
    transition: 0.5s ease;
}
}



