<section>
  <article class="container">
    <h1>Inscreva-se</h1>
    <main class="subscription-box">
      <form>
        <div class="user-box-name">
          <input type="text" required />
          <label><fa-icon [icon]="faUser"></fa-icon> Nome</label>
        </div>
        <div class="user-box-email">
          <input type="text" required />
          <label><fa-icon [icon]="faEnvelope"></fa-icon> E-Mail</label>
        </div>
        <div class="user-box-celular">
          <input type="text" required/>
          <label><fa-icon [icon]="faPhone"></fa-icon> Celular</label>
        </div>
        <div class="user-box-cursos">
          <label><fa-icon [icon]="faGraduationCap"></fa-icon> Curso</label>
          <select class="user-box-select-cursos">
            <option value="default">-- Nenhum --</option>
            <option value="First Choice">Engenharia</option>
            <option value="Second Choice">Admnistração</option>
            <option value="Third Choice">Design</option>
            <option value="First Choice">Ciência da Computação</option>
            <option value="Second Choice">Sistema de Informação</option>
          </select>
        </div>
        <div class="user-box-games">
          <label><fa-icon [icon]="faTrophy"></fa-icon> Qual equipe você deseja participar?</label>
          <select class="user-box-select-games">
            <option value="default">-- Nenhum --</option>
            <option value="primeira">Staff</option>
            <option value="segunda">Overwtach</option>
            <option value="terceira">Rainbow six</option>
            <option value="quarta">League of Legends</option>
            <option value="quinta">Rocket League</option>
            <option value="sexta">Valorant</option>
            <option value="setima">FIFA</option>
            <option value="oitava">Counter-Strike</option>
            <option value="nona">Teamfight Tactics</option>
            <option value="decima">E-Racing</option>
            <option value="decima-primeira">Clash Royale</option>
          </select>
        </div>
        <div class="user-box-motivo">
          <label><fa-icon [icon]="faHeadset"></fa-icon> Por que você quer fazer parte da Mauá E-sports?</label>
          <textarea id="motivo"></textarea>
        </div>
        <a class="enviar-inscricao">enviar</a>
      </form>
    </main>
  </article>
</section>