<section class="sec">
    <div class="mkt">
        <div class="pop-content"></div>
    </div>
</section>
<section class="sec-content">
    <article>
        <h2>Destaques</h2>
        <div class="spacer"></div>
        <div class="content-main">
            <h3>PROCESSO SELETIVO</h3>
            <div class="content">
                <div class="first-content" data-aos="zoom-in-up">
                    <p>
                        Nosso processo seletivo para os times e a staff está oficialmente ABERTO! 
                        <strong>Espero vocês conosco esse semestre!</strong>
                    </p>
                    <button class="btn-processo-seletivo">
                        Ver Post
                    </button>
                </div>
            </div>
            <div class="bolinha"></div>
            <br>
            <h3 data-aos="fade" data-aos-duration="1000">QUEM SOMOS</h3>
            <div class="second-content" data-aos="fade" data-aos-duration="1000">
                <div class="second-subcontent" data-aos="fade" data-aos-duration="1500">
                    <p>
                        Somos uma Empresa Júnior de esportes eletrônicos fundada em 5 de Dezembro de 2016 no <b>Instituto Mauá de Tecnologia. </b>
                        Na empresa, temos oportunidades para todos os alunos do IMT, seja de <b>Engenharia, Administração, Design, Ciência da Computação ou 
                        Sistemas da Informação.</b> Possuímos áreas administrativas (Finanças, Marketing, Campeonatos e Times) e áreas competitivas 
                        (League of Legends, Teamfight Tactics, Valorant, Valorant Feminino, Overwatch, FIFA, Clash Royale, 
                        eRacing, Counter-Strike e Rainbow 6). 
                    </p>
                </div>
            </div>
            <div class="bolinha"></div>
            <div class="third-content">

            </div>
        </div>
    </article>
</section>