* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.sec {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: relative;
  display: flex;
  justify-content: center;
  z-index: 999;
}
.sec:before {
	content: '';
	width: 100%;
	height: 120px;
	background-color: #fff;
	position: absolute;
	top: -47px;
	left: 0;
	-webkit-transform: skewY(2deg);
	transform: skewY(2deg);
}
.sec:after {
	content: '';
	width: 100%;
	height: 120px;
	background-color: #fff;
	position: absolute;
	top: -47px;
	right: 0;
	-webkit-transform: skewY(-2deg);
	transform: skewY(-2deg);
}

.sec-content{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.pop-content{
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.content{
    width: 70vw;
    padding: 10px;
    height: 200px;
    margin-top: 20px;
    border-left: solid 2px #cfcfcf;
}

.bolinha{
  border: solid 2px #cfcfcf;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  margin-left: -6px;
  border-radius: 100%;
}

.spacer{
  height: 3px;
  width: 80px;
  border-radius: 20px;
  background-color: #d29320;
}

.mkt{
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(53 72 91 / 14%), 0 3px 2px rgb(0 0 0 / 4%), 0 7px 5px rgb(0 0 0 / 2%), 0 13px 10px rgb(0 0 0 / 2%), 0 22px 17px rgb(0 0 0 / 2%) !important;
    transition: 0.3s ease;
    z-index: 1;
}
.mkt {
  font-family: Helvetica;
  position: relative;
  width: 60vw;
  height: 250px;
  line-height: 30vw;
  text-align: center;
  color: #252B37;
  background-color: #151823;
  animation: textColor 10s ease infinite;
}
.mkt:after {
  position: absolute;
  content: "";
  top: 1vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}



@media (max-width: 1090px){
    .mkt{
        width: 700px;
        transition: 0.3s ease;
    }
    .content{
      width: 700px;
      transition: 0.3s ease;
    }
}

@media (max-width: 780px){
    .mkt{
        width: 500px;
        transition: 0.3s ease;
    }
    .mkt:after {
        top: 5vw;
    }
    .content{
      width: 500px;
      transition: 0.3s ease;
    }
}

@media (max-width: 580px){
    .mkt{
        width: 330px;
        transition: 0.3s ease;
    }
    .content{
      width: 320px;
      transition: 0.3s ease;
    }
}