<section class="sec">
    <div class="mkt">
        <div class="pop-content"></div>
    </div>
</section>
<section class="sec-content">
    <article>
        <h2>Destaques</h2>
        <div class="spacer"></div>
        <div class="content-main">
            <h3>PROCESSO SELETIVO</h3>
            <div class="content">
                <div class="first-content" data-aos="zoom-in-up">
                    <p>
                        Nosso processo seletivo para os times e a staff está oficialmente ABERTO! 
                        <strong>Espero vocês conosco esse semestre!</strong>
                    </p>
                    <button class="btn-processo-seletivo">
                        Ver Post
                    </button>
                </div>
            </div>
            <div class="bolinha"></div>
            <br>
            <h3 data-aos="fade" data-aos-duration="1000">QUEM SOMOS</h3>
            <div class="second-content" data-aos="fade" data-aos-duration="1000">
                <div class="second-subcontent" data-aos="fade" data-aos-duration="1500">
                    <p>
                        Somos uma Empresa Júnior de esportes eletrônicos fundada em 5 de Dezembro de 2016 no <b>Instituto Mauá de Tecnologia. </b>
                        Na empresa, temos oportunidades para todos os alunos do IMT, seja de <b>Engenharia, Administração, Design, Ciência da Computação ou 
                        Sistemas da Informação.</b> Possuímos áreas administrativas (Finanças, Marketing, Campeonatos e Times) e áreas competitivas 
                        (League of Legends, Teamfight Tactics, Valorant, Valorant Feminino, Overwatch, FIFA, Clash Royale, 
                        eRacing, Counter-Strike e Rainbow 6). 
                    </p>
                </div>
            </div>
            <div class="bolinha"></div>
            <br>
            <h3 data-aos="fade" data-aos-duration="1000">MISSÃO</h3>
            <div class="second-content" data-aos="fade" data-aos-duration="1000">
                <div class="second-subcontent" data-aos="fade" data-aos-duration="1500">
                    <p>
                        Acreditamos que a inovação se concretiza quando unimos <b>Administração, Engenharia, e Design. </b>
                        Nosso objetivo é oferecer oportunidades aos alunos do <b>IMT</b> para conhecer e explorar grandes áreas no mercado que englobam 
                        o universo Gamer. Além disso, oferecemos uma <b>Mauá</b> de possibilidades de aprendizado e evolução onde nossos campeōes 
                        treinam dentro do Instituto, e a equipe administrativa de Finanças e Marketing, estão centralizadas
                        no nosso servidor do Discord.
                    </p>
                    <p>
                        Fazer parte da <b>Maua Esports</b> é uma experiência colaborativa que te ajuda a desenvolver <b>Soft Skills</b> esseciais 
                        para ingressar no mercado de trabalho, tais como: Colaboração, Gerenciamento do tempo, Comunicação assertiva e <b>Trabalho em equipe.</b>
                    </p>
                </div>
            </div>
            <div class="bolinha"></div>
        </div>
    </article>
</section>
<app-second-main></app-second-main>