.container {
  height: 110vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #050d21, #081d3d, #006994);
  /* background: url(/assets/images/game-images/back-maua.png) no-repeat; */
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

@media (max-width: 1100px) {
  .container {
    height: 200vh;
  }
}
