<main class="container">
  <article class="main-content">
    <app-game-title [titulo]="'Counter Strike'"></app-game-title>
    <div class="content">
      <section class="content-text">
        <h1>Competitivo</h1>
        <div class="spacer"></div>
        <p>
          O <b>Counter-Strike: Global Offensive (CS:GO)</b> é a continuação
          do jogo de equipas cheio de ação que foi pioneiro quando
          foi lançado há 12 anos atrás. O CS: GO apresenta-se com novos <b>mapas</b>,
          personagens, armas e ainda oferece versões atualizadas de conteúdo
          do CS clássico (de_dust, etc.).
          <section class="flex-content">
            <div class="left-content">
              <img id="direita" src="/assets/images/game-character/char-cs.png" alt="Personagem do jogo League of Legends">
            </div>
            <div class="right-content">
              <h2>Resumo</h2>
              <p>
                O modo <b>competitivo</b> do CS:GO é divido em 30 rounds,
                de dois minutos de duração cada um, em que a primeira
                equipe a vencer <b>16 rounds</b> ganha a partida.
                Caso haja um empate, por 15 a 15, será necessária
                a disputa de uma prorrogação, que possui 6 rounds.
                Caso ocorra mais um empate, outra prorrogação,
                e assim por diante, até se ter um <b>vencedor</b>.
              </p>
            </div>
          </section>
      </section>
    </div>
  </article>
</main>
<main>
  <article class="team-main-content">
    <section class="team-content">
      <h3>Time principal</h3>
      <div class="jogadores">
        <div class="csgo-icon">
          <img src="/assets/images/game-player-icon/csgo.png" alt="Icone csgo">
          <p>riifth</p>
        </div>
        <div class="csgo-icon">
          <img src="/assets/images/game-player-icon/csgo2.png" alt="Icone csgo">
          <p>rafafami</p>
        </div>
        <div class="csgo-icon">
          <img src="/assets/images/game-player-icon/csgo3.png" alt="Icone csgo">
          <p>guifami</p>
        </div>
        <div class="csgo-icon">
          <img src="/assets/images/game-player-icon/csgo4.png" alt="Icone csgo">
          <p>indie</p>
        </div>
        <div class="csgo-icon">
          <img src="/assets/images/game-player-icon/csgo5.png" alt="Icone csgo">
          <p>positions</p>
        </div>
      </div>
    </section>
  </article>
</main>
<app-footer></app-footer>
