<main class="container">
  <article class="main-content">
    <app-game-title [titulo]="'Fifa 22'"></app-game-title>
    <div class="content">
      <section class="content-text">
        <h1>Competitivo</h1>
        <div class="spacer"></div>
        <p>
          A lendária série <b>FIFA</b> é produzida há mais de 20 anos
          pela <b>EA SPORTS</b> e agora é a maior franquia de videogames
          do planeta. FIFA dá vida ao maior jogo do mundo,
          para que você possa jogar com os maiores jogadores,
          clubes e ligas do futebol mundial, tudo com realismo
          e <b>detalhes incríveis</b>.
          <section class="flex-content">
            <div class="left-content">
              <img id="direita" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-character/char-fifa.png" alt="Personagem do jogo League of Legends">
            </div>
            <div class="right-content">
              <h2>Resumo</h2>
              <p>
                monte o seu time dos sonhos no <b>FIFA Ultimate Team</b>,
                lidere o seu clube favorito para a vitória no Modo Carreira,
                leve o esporte de volta para as ruas com o <b>EA SPORTS
                VOLTA FOOTBALL</b>  para se vangloriar no modo Jogo Rápido,
                a série FIFA possibilita disputar o maior jogo do mundo do
                seu jeito.
              </p>
            </div>
          </section>
      </section>
    </div>
  </article>
</main>
<main>
  <article class="team-main-content">
    <section class="team-content">
      <h3>Principais Jogadores</h3>
      <div class="jogadores">
        <div class="bola">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/fifa-bola.png" alt="bola">
          <p>riifth</p>
        </div>
        <div class="bola">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/fifa-bola2.png" alt="bola">
          <p>rafafami</p>
        </div>
        <div class="bola">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/fifa-bola3.png" alt="bola">
          <p>guifami</p>
        </div>
        <div class="bola">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/fifa-bola4.png" alt="bola" id="bola4">
          <p>indie</p>
        </div>
        <div class="bola">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/fifa-bola5.png" alt="bola">
          <p>positions</p>
        </div>
      </div>
    </section>
  </article>
</main>
<app-footer></app-footer>
