.container{
  width: 80%;
  height: 81.5vh;
  grid-template-columns: 65% 35%;
  margin: 0 auto;
}

/* GRAFICOS */
.grafico-md-1{
  width: 65%;
  height: 62%;
  background-color: #d7f5ff;
  display: inline-block;
  border-radius: 4px;
  margin-right: 5px;
}

.grafico-sm-1{
  width: 30%;
  height: 62%;
  background-color: #d7f5ff;
  display: inline-block;
  margin-right: 4px;
  border-radius: 5px;
}

.grafico-md-2{
  width: 55%;
  height: 45%;
  background-color: #d7f5ff;
  display: inline-block;
  margin: 0;
  border-radius: 4px;
  margin-right: 5px;
}

.grafico-sm-2{
  width: 40%;
  height: 45%;
  background-color: #d7f5ff;
  display: inline-block;
  margin-right: 4px;
  border-radius: 5px;
}

@media (max-width: 1355px){
  .container{
    width: 100%;
  }
}

@media (max-width: 1100px){
  .container{
    width: 80%;
  }
  .grafico-md-1{
    width: 100%;
    margin: 0;
  }
  .grafico-sm-1{
    width: 100%;
  }
  .grafico-md-2{
    width: 100%;
    margin: 0;
  }
  .grafico-sm-2{
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 940px){
  .grafico-md-1{
    height: 360px;
  }
  .grafico-sm-1{
    height: 360px;
  }
}

@media (max-width: 768px){
  .container{
    width: 95%;
  }
}

@media (max-width: 645px){
  .grafico-md-1{
    height: 290px;
  }
}

@media (max-width: 585px){
  .grafico-md-1{
    height: 260px;
  }
  .grafico-sm-2{
    height: 240px;
  }

  .grafico-md-2{
    height: 240px;
  }
}

@media (max-width: 485px){
  .grafico-md-1{
    height: 220px;
  }
}
