.container{
  width: 80%;
  height: 81.5vh;
  grid-template-columns: 65% 35%;
  margin: 0 auto;
  max-width: 1800px;
  max-height: 900px;
  margin-bottom: 200px;
}

/* GRAFICOS */
.grafico-md-1{
  width: 65%;
  height: 62%;
  background-color: #d7f5ff;
  display: inline-block;
  border-radius: 4px;
  margin-right: 5px;
}

.grafico-sm-1{
  width: 30%;
  height: 62%;
  background-color: #d7f5ff;
  display: inline-block;
  margin-right: 4px;
  border-radius: 5px;
}

.grafico-md-2{
  width: 55%;
  height: 42%;
  background-color: #d7f5ff;
  display: inline-block;
  margin: 0;
  border-radius: 4px;
  margin-right: 5px;
}

.grafico-sm-2{
  width: 40%;
  height: 42%;
  background-color: #d7f5ff;
  display: inline-block;
  margin-right: 4px;
  border-radius: 5px;
}

@media (max-width: 1800px){
  .grafico-md-1{
    height: 350px;
    transition: 0.2s ease;
  }
  .grafico-sm-1{
    height: 350px;
    transition: 0.2s ease;
  }
  .grafico-sm-2{
    height: 260px;
    transition: 0.2s ease;
  }
  .grafico-md-2{
    height: 260px;
    transition: 0.2s ease;
  }
}

@media (max-width: 1600px){
  .grafico-sm-2{
    height: 230px;
    transition: 0.2s ease;
  }
  .grafico-md-2{
    height: 230px;
    transition: 0.2s ease;
  }
}

@media (max-width: 1400px){
  .grafico-md-1{
    height: 280px;
    transition: 0.2s ease;
  }
  .grafico-sm-1{
    height: 280px;
    transition: 0.2s ease;
  }
}

@media (max-width: 1300px){
  .grafico-sm-2{
    height: 200px;
    transition: 0.2s ease;
  }
  .grafico-md-2{
    height: 200px;
    transition: 0.2s ease;
  }
}

@media (max-width: 1100px){
  .grafico-md-1{
    width: 100%;
    margin: 0 auto;
    height: auto;
    transition: 0.2s ease;
  }
  .grafico-sm-1{
    width: 100%;
    margin: 0 auto;
    height: auto;
    transition: 0.2s ease;
  }
  .grafico-md-2{
    width: 100%;
    margin: 0 auto;
    height: auto;
    transition: 0.2s ease;
  }
  .grafico-sm-2{
    width: 100%;
    margin: 0 auto;
    height: auto;
    transition: 0.2s ease;
  }
}

@media (max-width: 768px){
  .container{
    width: 95%;
    transition: 0.2s ease;
  }
}