<main class="container">
  <article class="main-content">
    <app-game-title [titulo]="'Overwatch'"></app-game-title>
    <div class="content">
      <section class="content-text">
        <h1>Competitivo</h1>
        <div class="spacer"></div>
          <p><b>Overwatch</b> é o novo game de tiro em primeira pessoa e multiplayer
              online da <b>Blizzard</b>, a mesma produtora de títulos como Diablo,
              Warcraft e Starcraft. O jogo de PS4, Xbox One e PC reúne
              jogadores em equipes, que devem competir por <b>objetivos</b> no mapa
              e, ao mesmo tempo, eliminar os adversários para somar pontos
          <section class="flex-content">
            <div class="left-content">
              <img id="direita" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-character/char-over.png" alt="Personagem do jogo League of Legends">
            </div>
            <div class="right-content">
              <h2>Resumo</h2>
              <p>
                Qual é o objetivo do Overwatch?
                A partida começa com o objetivo de <b>capturar</b> ou <b>defender</b> um ponto que,
                ao ser pego com sucesso, libera uma carga que precisa ser escoltada.
                Controle: as duas equipes vão lutar por um objetivo. Para capturar
                um <b>ponto</b>, você tem de escorraçar a equipe oponente durante um certo
                tempo até atingir os <b>100%</b>.
              </p>
            </div>
          </section>
      </section>
    </div>
  </article>
</main>
<main>
  <article class="team-main-content">
    <section class="team-content">
      <h3>Time principal</h3>
      <div class="jogadores">
        <div class="posicoes">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/over-sup.png" alt="suporte">
          <p>riifth</p>
        </div>
        <div class="posicoes">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/over-damage.png" alt="damage">
          <p>rafafami</p>
        </div>
        <div class="posicoes">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/over-tank.png" alt="tank">
          <p>guifami</p>
        </div>
        <div class="posicoes">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/over-damage.png" alt="damage">
          <p>indie</p>
        </div>
        <div class="posicoes">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/over-sup.png" alt="suporte">
          <p>positions</p>
        </div>
      </div>
    </section>
  </article>
</main>
<app-footer></app-footer>
