<nav [class.nav-change]="nav_scroll">
  <a class="brand" routerLink="home">
    <img src="assets/images/logo.png" alt="Logo Maua E-Sports" />
  </a>
  <span>Maua Esports</span>
  <section
    class="menu-btn"
    (click)="menuClick()"
    [class.active]="isCollapsed"
  ></section>
  <section class="nav" (click)="menuClick()" [class.active]="isCollapsed">
    <article class="nav-items">
      <a class="nav-link" href="#" routerLink="home">Home</a>
      <a class="nav-link" href="#" routerLink="about">Sobre</a>
      <a class="nav-link" href="#" routerLink="games">Jogos</a>
      <a class="nav-link" href="#" routerLink="subscription">Inscrição</a>
      <div class="spacer"></div>
      <a href="#" *ngIf="checkUserIsLogged()" (click)="logout()" class="nav-logout">{{username}}ﾠ<fa-icon [icon]="faRightFromBracket"></fa-icon></a>
      <button *ngIf="!checkUserIsLogged()" id="loginBtn" routerLink="login">Login</button>
      <p *ngIf="!checkUserIsLogged()">Ainda não possui um Login?</p>
      <button *ngIf="!checkUserIsLogged()" id="registerBtn" routerLink="register">Sign Up</button>
    </article>
  </section>
</nav>

<router-outlet></router-outlet>
