<footer class="footer">
  <main class="container">
    <section class="row">
      <article class="footer-col">
        <header>
          <h4>Quem somos?</h4>
        </header>
        <main>
          <ul>
            <li>
              <span
                >Somos alunos do <strong>IMT</strong> do curso Ciência da
                Computação. O site foi desenvolvido a fins de centralizar
                informaçōes sobre a entidade Maua E-Sports.
              </span>
            </li>
          </ul>
        </main>
      </article>
      <article class="footer-col">
        <header>
          <h4>Integrantes</h4>
        </header>
        <main>
          <ul>
            <li><a href="https://github.com/DebWit">Débora Witkowski</a></li>
            <li><a href="https://github.com/guifami">Guilherme Ruiz</a></li>
            <li><a href="https://github.com/LCStuber">Leonardo Cazotto</a></li>
            <li><a href="https://github.com/LucasP33">Lucas Machado</a></li>
            <li>
              <a href="https://github.com/rafaelruizsilva">Rafael Ruiz</a>
            </li>
          </ul>
        </main>
      </article>
      <article class="footer-col">
        <header>
          <h4>Suporte</h4>
        </header>
        <main>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="https://linktr.ee/mauesport">Contatos</a></li>
          </ul>
        </main>
      </article>
      <article class="footer-col">
        <header>
          <h4>Siga-nos</h4>
        </header>
        <main class="social-links">
          <a href="https://pt-br.facebook.com/MauaeSports/"><fa-icon [icon]="faFacebookF"></fa-icon></a>
          <a href="https://www.instagram.com/esportsmaua/"><fa-icon [icon]="faInstagram"></fa-icon></a>
          <a href="https://www.linkedin.com/company/mauaesports/"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
        </main>
      </article>
      <p>&copy; Todos os direitos reservados.</p>
    </section>
  </main>
</footer>
