<section>
  <article>
    <main class="container">
      <div id="div-principal">
        <!-- Div bege (CIMA) que contém o menu de navegação -->
        <section class="sec"></section>



        <!-- Div branca abaixo do menu de navegação -->
      <div class="conteudo-fluid">
          <div class="conteudo-sobre">
            <div class="row2">
              <h3>Sobre nós</h3>

              <!-- Como nos encontrar -->
              <div class="column-6">
                <h4 style="text-align: left;">Como nos encontrar
                <div class="spacer"></div></h4>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d228.42158470829554!2d-46.57339573814976!3d-23.64928883953957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4337c13fd369%3A0x65e1e4c0f10a2e98!2sBloco%20D%20-%20Pra%C3%A7a%20Mau%C3%A1%2C%201%20-%20Mau%C3%A1%2C%20S%C3%A3o%20Caetano%20do%20Sul%20-%20SP%2C%2009580-050!5e0!3m2!1sen!2sbr!4v1666907909118!5m2!1sen!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="box-shadow"></iframe>


              </div>
              <div class="column-6 texto-alinhado">
                Nós da Mauá Esports estamos localizados dentro do campus do <b>Instituto Mauá de Tecnologia</b> no bloco D.
                <br>
                <br>
                <br>
                Segue abaixo o endereço:

                <div class="card-endereco  box-shadow"  data-aos="zoom-in-up">
                  <h2>Praça Mauá, 1 - Mauá, São Caetano do Sul - SP, 09580-900</h2>
                  <h5>Instituto Mauá de Tecnologia, endereço</h5>
                </div>
              </div>
            </div>
            <br>
            <br>
          </div>
          <!-- Quem somos-->
          <div class="conteudo-quem-somos">
            <div class="conteudo">
              <h4 style="text-align: left;">Quem somos?
              <div class="spacer" style="width: 210px;"></div></h4>
              <p><b>Mauá Eports</b> é a equipe de esportes eletrônicos que representará o IMT (Instituto Mauá de Tecnologia) em jogos como League of Legends, Counter Strike, Fifa, Clash Royale, entre outros!</p>
              <br>
              <p>Fundado em 2016, o Mauá Esports é responsável pela administração, recrutamento e treinamento das equipes de esportes eletrônicos do Instituto Mauá de Tecnologia. Além disso, realiza eventos para alunos e não alunos universitários.</p>
              <main class="content">
                <section class="first-content box-shadow" data-aos="zoom-in-up">
                </section>
              </main>
            </div>
          </div>
          <!-- Parcerias -->
          <div class="conteudo-parcerias">
            <p class="titulo-parcerias">Parcerias</p>
            <div class="parcerias">

              <div class="row2">
                <div class="column-2"><img src="/assets/images/about-icons/ibm.png" alt="" style="width: 100px; height:100px;"><p>IBM</p></div>
                <div class="column-2"><img src="/assets/images/about-icons/tetra.png" alt="" style="width: 80px; height: 80px; margin-top: 13px;"><p style="margin-top: 8px;">Tetra Pak</p></div>
                <div class="column-2"><img src="/assets/images/about-icons/itau.png" alt="" style="width: 190px; height: 100px;"><p class="itau">Itaú</p></div>
                <div class="column-2"><img src="/assets/images/about-icons/rede_globo.webp" alt="" style="width: 80px; height: 80px; margin-top: 13px;"><p style="margin-top: 8px;">Globo</p></div>
                <div class="column-2"><img src="/assets/images/about-icons/ariston.png" alt="" style="width: 130px; height:80px; margin-top: 13px;"><p style="margin-top: 8px;">Ariston</p></div>
              </div>
            </div>
          </div>
          <!-- Time -->
      </div>
    </div>
    <app-footer></app-footer>
    </main>
  </article>
</section>


