<main class="container">
  <article class="main-content">
    <app-game-title [titulo]="'ERacing'"></app-game-title>
    <div class="content">
      <section class="content-text">
        <h1>Competitivo</h1>
        <div class="spacer"></div>
        <p>
          O <b>Eracing</b> é o melhor jogo de corrida para celular que você
          está procurando. Você dirige seu carro na visão do cockpit
          através do tráfego interminável e do <b>ambiente realista</b>.
          Incline seu dispositivo para arrastar seu carro para onde
          quiser, ultrapasse o trânsito, ganhe moedas e compre <b>carros</b>
          novos.
          <section class="flex-content">
            <div class="left-content">
              <img id="direita" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-character/char-erac.png" alt="Personagem do jogo League of Legends">
            </div>
            <div class="right-content">
              <h2>Resumo</h2>
              <p>
                é um jogo de <b>corrida</b> em estilo arcade, da Playground Games
                e publicado pela Xbox Game Studios. Ambientado no México,
                o jogador poderá escolher em qual ordem participar das
                corridas e explorar um vasto mapa, cheio de <b>batividades</b>,
                como: desafios de perícia, descobrir carros escondidos
                e etc.
              </p>
            </div>
          </section>
      </section>
    </div>
  </article>
</main>
<main>
  <article class="team-main-content">
    <section class="team-content">
      <h3>Principais Jogadores</h3>
      <div class="jogadores">
        <div class="icon-racing">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/er.png" alt="Icone eracing">
          <p>riifth</p>
        </div>
        <div class="icon-racing">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/er2.png" alt="Icone eracing">
          <p>rafafami</p>
        </div>
        <div class="icon-racing">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/er3.png" alt="Icone eracing">
          <p>guifami</p>
        </div>
        <div class="icon-racing">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/er4.png" alt="Icone eracing">
          <p>indie</p>
        </div>
        <div class="icon-racing">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/er5.png" alt="Icone eracing">
          <p>positions</p>
        </div>
      </div>
    </section>
  </article>
</main>
<app-footer></app-footer>
