<div class="flexbox">
  <div class="flexcard flexcardGreen">
      <div class="flexcardNumber flexcardNumberGreen">01</div>
      <div class="flex flexcardTitle"><fa-icon [icon]="faUser"></fa-icon>guifami</div>
      <div class="flex flexcardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
          temporibus consectetur? Iure id nam fuga asperiores repellat accusantium exercitationem nemo? </div>
  </div>
  <div class="flexcard flexcardBlue">
      <div class="flexcardNumber flexcardNumberBlue">02</div>
      <div class="flex flexcardTitle"><fa-icon [icon]="faUser"></fa-icon>rafafami</div>
      <div class="flex flexcardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
          temporibus consectetur? Iure id nam fuga asperiores repellat accusantium exercitationem nemo?</div>
  </div>
  <div class="flexcard flexcardOrange">
      <div class="flexcardNumber flexcardNumberOrange">03</div>
      <div class="flex flexcardTitle"><fa-icon [icon]="faUser"></fa-icon>riifth</div>
      <div class="flex flexcardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
          temporibus consectetur? Iure id nam fuga asperiores repellat accusantium exercitationem nemo?</div>
  </div>
  <div class="flexcard flexcardPink">
      <div class="flexcardNumber flexcardNumberPink">04</div>
      <div class="flex flexcardTitle"><fa-icon [icon]="faUser"></fa-icon>positions</div>
      <div class="flex flexcardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
          temporibus consectetur? Iure id nam fuga asperiores repellat accusantium exercitationem nemo?</div>
  </div>