<main class="container">
  <article class="main-content">
    <app-game-title [titulo]="'Teamfight Tactics'"></app-game-title>
    <div class="content">
      <section class="content-text">
        <h1>Competitivo</h1>
        <div class="spacer"></div>
        <p>Faça jogadas incríveis conforme compra, posiciona e luta pela vitória
          em uma batalha estilo ''todos contra todos'' de oito pessoas.
          Com centenas de composições possíveis e um meta que não para
          de evoluir, qualquer estratégia é válida — mas apenas uma
          sairá vitoriosa.
          <section class="flex-content">
            <div class="left-content">
              <img id="direita" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-character/char-tft.png" alt="Personagem do jogo League of Legends">
            </div>
            <div class="right-content">
              <h2>Resumo</h2>
              <p>
                Cada jogador começa com <b>100
                pontos de vida</b>, devendo escolher um Campeão na loja.
                O recrutamento é feito com ouro, recebido com o passar
                de cada uma das rodadas. Caso seja derrotado, você perderá
                uma pequena porção de vida, até que ela chegue a zero.
              </p>
            </div>
          </section>
      </section>
    </div>
  </article>
</main>
<main>
  <article class="team-main-content">
    <section class="team-content">
      <h3>Principais Jogadores</h3>
      <div class="jogadores">
        <div class="tft-icon-player">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/tft.png" alt="tft-icon">
          <p>riifth</p>
        </div>
        <div class="tft-icon-player">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/tft2.png" alt="tft-icon">
          <p>rafafami</p>
        </div>
        <div class="tft-icon-player">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/tft3.png" alt="tft-icon">
          <p>guifami</p>
        </div>
        <div class="tft-icon-player">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/tft4.png" alt="tft-icon">
          <p>indie</p>
        </div>
        <div class="tft-icon-player">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/tft5.png" alt="tft-icon">
          <p>positions</p>
        </div>
      </div>
    </section>
  </article>
</main>
<app-footer></app-footer>
