<section class="sec">
  <article class="mkt">
    <div class="pop-content"></div>
  </article>
</section>
<section class="sec-content">
  <article>
    <header>
      <h2>Destaques</h2>
      <div class="spacer"></div>
    </header>
    <main class="content-main">
      <article>
        <header>
          <h3>PROCESSO SELETIVO</h3>
        </header>
        <main class="content">
          <section class="first-content" data-aos="zoom-in-up">
            <p>
              Nosso processo seletivo para os times e a staff está oficialmente
              ABERTO!
              <strong>Espero vocês conosco esse semestre!</strong>
            </p>
            <a href="https://www.instagram.com/p/Cgrs7xXuGMp/" class="btn-processo-seletivo">Ver Post</a>
          </section>
        </main>
      </article>
      <div class="bolinha"></div>
      <br />
      <header>
        <h3 data-aos="fade" data-aos-duration="1000">QUEM SOMOS</h3>
      </header>
      <section class="second-content" data-aos="fade" data-aos-duration="1000">
        <article
          class="second-subcontent"
          data-aos="fade"
          data-aos-duration="1500">
          <main>
            <p>
              Somos uma Empresa Júnior de esportes eletrônicos fundada em 5 de
              Dezembro de 2016 no <b>Instituto Mauá de Tecnologia. </b> Na
              empresa, temos oportunidades para todos os alunos do IMT, seja de
              <b>
              Engenharia, Administração, Design, Ciência da Computação ou
              Sistemas da Informação.</b>
              Possuímos áreas administrativas (Finanças, Marketing, Campeonatos
              e Times) e áreas competitivas (League of Legends, Teamfight
              Tactics, Valorant, Valorant Feminino, Overwatch, FIFA, Clash
              Royale, eRacing, Counter-Strike e Rainbow 6).
            </p>
          </main>
        </article>
      </section>
      <div class="bolinha"></div>
      <br />
      <header>
        <h3 data-aos="fade" data-aos-duration="1000">MISSÃO</h3>
      </header>
      <section class="second-content" data-aos="fade" data-aos-duration="1000">
        <article
          class="second-subcontent"
          data-aos="fade"
          data-aos-duration="1500">
          <main>
            <p>
              Acreditamos que a inovação se concretiza quando unimos
              <b>Administração, Engenharia, e Design. </b> Nosso objetivo é
              oferecer oportunidades aos alunos do <b>IMT</b> para conhecer e
              explorar grandes áreas no mercado que englobam o universo Gamer.
              Além disso, oferecemos uma <b>Mauá</b> de possibilidades de
              aprendizado e evolução onde nossos campeōes treinam dentro do
              Instituto, e a equipe administrativa de Finanças e Marketing,
              estão centralizadas no nosso servidor do Discord.
            </p>
            <p>
              Fazer parte da <b>Maua Esports</b> é uma experiência colaborativa
              que te ajuda a desenvolver <b>Soft Skills</b> essenciais para
              ingressar no mercado de trabalho, tais como: Colaboração,
              Gerenciamento do tempo, Comunicação assertiva e
              <b>Trabalho em equipe.</b>
            </p>
          </main>
        </article>
      </section>
      <div class="bolinha"></div>
    </main>
  </article>
</section>
