<main>
  <div class="register-box">
    <h2>Cadastro</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label><fa-icon [icon]="faUser"></fa-icon> Nome</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label><fa-icon [icon]="faEnvelope"></fa-icon> E-Mail</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label><fa-icon [icon]="faKey"></fa-icon> Senha</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label><fa-icon [icon]="faKey"></fa-icon> Confirme a senha</label>
      </div>
      <a routerLink="/home">
        Cadastrar
      </a>
    </form>
  </div>
</main>