@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    transition: 0.5s ease;
}

nav span{
    position: fixed;
    margin-left: 60px;
    font-size: 1.3em;
    color: #fff;
    font-weight: 600;
}

nav .brand img{
    width: 50px;
}

nav .nav .nav-items a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

.spacer{
    display: none;
    background-color: #0000001c;
    width: 500px;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 35px;
}


#loginBtn{
    padding: 3px 10px 3px 10px;
    margin-left: 30px;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    border: solid #fff 2px;
    border-radius: 30px;
    background-color: transparent;
    transition: 0.3s ease;
}

#loginBtn:hover{
    color: #113568;
    border: solid #fff 2px;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s ease;
}

.nav-items p{
    display: none;
    font-size: 0.9em;
}

#registerBtn{
    background-color: #d39420;
    border: solid #d39420 2px;
    padding: 3px 10px 3px 10px;
    margin-left: 17px;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    border-radius: 30px;
    transition: 0.3s ease;
}

#registerBtn:hover{
    cursor: pointer;
    background-color: #b57600;
    border-color: #b57600;
    box-shadow: #00000017 1px 2px 3px 1.5px;
    transition: 0.3s ease;
}

nav .nav .nav-items a:before{
    content: '';
    position: absolute;
    background: #68d1c0;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

nav .nav .nav-items a:hover:before{
    width: 100%;
}

@media (max-width: 1480px){
    nav{
        padding: 12px 20px;
        transition: 0.5s ease;
    }
}

@media (max-width: 1090px){
    nav{
        padding: 12px 20px;
        transition: 0.5s ease;
    }

    nav .nav{
        display: none;
    }

    nav .nav.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    nav .nav .nav-items a{
        color: #222;
        font-size: 1.2em;
        font-weight: 500;
        margin-left: 0;
        margin: 16px;
    }

    nav .nav.active .nav-items{
        background: #fff;
        width: 95%;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1, 1, 1 / 20%);
    }

    .menu-btn{
        background: url(/assets/images/nav-icons/menu-claro.png)no-repeat;
        background-size: 22px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .menu-btn.active{
        z-index: 1;
        background: url(/assets/images/nav-icons/close-claro.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }

    .spacer{
        display: block;
        width: 95%;
    }

    #loginBtn{
        width: 280px;
        margin: 0 auto;
        color: #113568;
        font-size: 1.2em;
        font-weight: 500;
        border: solid #113568 2px;
        border-radius: 30px;
        background-color: transparent;
    }

    #loginBtn:hover{
        color: #fff;
        border: solid #113568 2px;
        background-color: #113568;
    }

    #registerBtn{
        width: 280px;
        font-size: 1.2em;
        font-weight: 500;
        margin: 0 auto;
    }

    .nav-items p{
        display: block;
        margin-top: 20px;
    }
}

.nav-change{
    background-color: #f8f8f8;
    box-shadow: #4a4a4a3d 1px 0.75px 2px 1.75px;
}

.nav-change .nav .nav-items a{
    color: #000;
}

.nav-change .nav #loginBtn{
    color: #113568;
    border: solid #113568 2px;
}

.nav-change .nav #loginBtn:hover{
    color: #fff;
    border: solid #113568 2px;
    background-color: #113568;
}

.nav-change span{
    color: #000;
}

.nav-change .menu-btn{
    background: url(/assets/images/nav-icons/menu.png)no-repeat;
    background-size: 40px;
}
.nav-change .menu-btn.active{
    z-index: 1;
    background: url(/assets/images/nav-icons/close.png)no-repeat;
    background-size: 40px;
}
