<main class="container">
  <article class="main-content">
    <app-game-title [titulo]="'Valorant'"></app-game-title>
    <div class="content">
      <section class="content-text">
        <h1>Competitivo</h1>
        <div class="spacer"></div>
          <p><b>Valorant</b> é um jogo eletrônico multijogador gratuito
             para jogar de tiro em primeira pessoa desenvolvido
             e publicado pela <b>Riot Games</b>.</p>
          <section class="flex-content">
            <div class="left-content">
              <img id="direita" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-character/char-val.png" alt="Personagem do jogo League of Legends">
            </div>
            <div class="right-content">
              <h2>Resumo</h2>
              <p>
                <b>Valorant</b> é um FPS tático 5x5 que tem como objetivo
                plantar ou desarmar a <b>Spike</b>.
                Os jogadores têm apenas uma vida por rodada e a partida
                é vencida pela equipe que ganhar <b>13 rodadas</b> (de 25)
                primeiro
              </p>
            </div>
          </section>
      </section>
    </div>
  </article>
</main>
<main>
  <article class="team-main-content">
    <section class="team-content">
      <h3>Time principal</h3>
      <div class="jogadores">
        <div class="val-icon">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/val.png" alt="val-icon">
          <p>riifth</p>
        </div>
        <div class="val-icon">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/val2.png" alt="val-icon">
          <p>rafafami</p>
        </div>
        <div class="val-icon">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/val3.png" alt="val-icon">
          <p>guifami</p>
        </div>
        <div class="val-icon">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/val4.png" alt="val-icon">
          <p>indie</p>
        </div>
        <div class="val-icon">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/val5.png" alt="val-icon">
          <p>positions</p>
        </div>
      </div>
    </section>
  </article>
</main>
<app-footer></app-footer>
