<main class="container">
  <article class="main-content">
    <app-game-title [titulo]="'Clash Royale'"></app-game-title>
    <div class="content">
      <section class="content-text">
        <h1>Competitivo</h1>
        <div class="spacer"></div>
        <p>
           <b>Clash Royale</b>  consiste em um jogo de estratégia no qual se lutará
           contra um adversário aleatório. O <b>objetivo</b> é destruir as torres
           inimigas usando cartas que poderão ser desbloqueadas ao longo do tempo.
           Algumas delas são trazidas de outro jogo da Supercell: Clash of Clans.
          <section class="flex-content">
            <div class="left-content">
              <img id="direita" src="/assets/images/game-character/char-cr.png" alt="Personagem do jogo League of Legends">
            </div>
            <div class="right-content">
              <h2>Resumo</h2>
              <p>
                Uma partida de Clash Royale dura <b>3 minutos.</b>
                No minuto final, a produção de elixir é mais rápida
                e dobra em relação aos minutos iniciais.
                Em caso de empate, há um tempo extra de <b>morte súbita</b>.
                No modo regular do jogo, esse tempo extra é de um minuto,
                mas ele pode ser de três minutos em outros modos de jogo.
              </p>
            </div>
          </section>
      </section>
    </div>
  </article>
</main>
<main>
  <article class="team-main-content">
    <section class="team-content">
      <h3>Principais Jogadores</h3>
      <div class="jogadores">
        <div class="rank">
          <img src="/assets/images/game-player-icon/cr.png" alt="clash royale rank">
          <p>riifth</p>
        </div>
        <div class="rank">
          <img src="/assets/images/game-player-icon/cr1.png" alt="clash royale rank">
          <p>rafafami</p>
        </div>
        <div class="rank">
          <img src="/assets/images/game-player-icon/cr2.png" alt="clash royale rank" id="rank3">
          <p>guifami</p>
        </div>
        <div class="rank">
          <img src="/assets/images/game-player-icon/cr3.png" alt="clash royale rank">
          <p>indie</p>
        </div>
        <div class="rank">
          <img src="/assets/images/game-player-icon/cr4.png" alt="clash royale rank">
          <p>positions</p>
        </div>
      </div>
    </section>
  </article>
</main>
<app-footer></app-footer>
