<main class="container">
  <article class="main-content">
    <app-game-title [titulo]="'Rocket League'"></app-game-title>
    <div class="content">
      <section class="content-text">
        <h1>Competitivo</h1>
        <div class="spacer"></div>
          <p>Descrito como "<b>futebol</b>, mas com carros movidos a foguete",
             Rocket League tem de um a quatro jogadores designados
              para cada uma das duas equipes, usando veículos movidos
              a foguete para acertar o gol do adversário e marcar
              pontos ao longo de uma partida.</p>
          <section class="flex-content">
            <div class="left-content">
              <img id="direita" src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-character/char-rl.png" alt="Personagem do jogo League of Legends">
            </div>
            <div class="right-content">
              <h2>Resumo</h2>
              <p>
                O <b>Rocket League</b> foi criado para ser jogado com amigos!
                Você pode jogar online em todas as plataformas.
                As partidas podem ter até 8 jogadores, e até
                4 jogadores podem jogar em uma tela dividida.
                Todas as plataformas exigem uma conexão de internet
                para o jogo online.
              </p>
            </div>
          </section>
      </section>
    </div>
  </article>
</main>
<main>
  <article class="team-main-content">
    <section class="team-content">
      <h3>Time principal</h3>
      <div class="jogadores">
        <div class="carro-icon">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/rl.png" alt="icone rocket league" id="icon-carro-1">
          <p>riifth</p>
        </div>
        <div class="carro-icon">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/rl2.png" alt="icone rocket league">
          <p>rafafami</p>
        </div>
        <div class="carro-icon">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/rl3.png" alt="icone rocket league">
          <p>guifami</p>
        </div>
        <div class="carro-icon">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/rl4.png" alt="icone rocket league">
          <p>indie</p>
        </div>
        <div class="carro-icon">
          <img src="https://guifami.github.io/IMT-MauaEsports-S2/assets/images/game-player-icon/rl5.png" alt="icone rocket league">
          <p>positions</p>
        </div>
      </div>
    </section>
  </article>
</main>
<app-footer></app-footer>
