.lineChart{
    width: 600px;
    margin: 0 auto;
    transition: 0.2s ease;
}

@media (max-width: 1800px){
    .lineChart{
        width: 510px;
        transition: 0.2s ease;
    }
}

@media (max-width: 1600px){
    .lineChart{
        width: 430px;
        transition: 0.2s ease;
    }
}

@media (max-width: 1300px){
    .lineChart{
        width: 390px;
        transition: 0.2s ease;
    }
}

@media (max-width: 1100px){
    .lineChart{
        width: 80%;
        transition: 0.2s ease;
    }
}